body {
  font-family: 'Verdana', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #f8f8f8, #d0d0d0);
}

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  padding: 30px; 
}

.field {
display: flex;
flex-direction: column;
}

.value {
  font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.04em;
color: #2e2f42;
}

.label {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2e2f42;
}

button {
  border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button:hover {
   background-color: #6c8cff;
}


button.disabled {
  background-color: #cfcfcf;
  cursor: default;
}

#datetime-picker {
  padding: 8px 16px;
  border-radius: 8px;
width: 272px;
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}
